
#toolbar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown {
  position: relative;
}


.main-btn {
  width: 60px;
  height: 60px;
  padding: 0;
  background: #f0f0f0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

 .sub-buttons {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0%;
  left: 135%;
  padding: 0;
  border: none;
  gap: 0;
  z-index: 10;
  overflow: visible
}

.sub-buttons button {
  height: 40px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: #050505;
  display: block;
  border-radius: 0;
  overflow: hidden;
}


.sub-buttons button:first-child {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}


.sub-buttons button:last-child {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}


.sub-buttons button:not(:last-child) {
  border-bottom: 1px solid #111; 
}

.sub-buttons button img {
  height: 100%;
  width: auto;
}





.selected {
  filter: invert(100%);
  border-radius: 50%;
}

.tool .main-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: #f0f0f0;
  cursor: pointer;
}





input[type="color"] {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  background: none;
}

 #export-panel {
    position: fixed;
    top: 10px;
    right: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  #export-panel button {
    padding: 3px 3px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  #export-panel img{
    height: 40px;
    width: auto;
  }